Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Config
# 대용량 파일, 그래픽 에셋 폴더 무시
Source/ParagonKallari/
Source/ParagonPhase/
# Team_Project에 있는 파일 모두 무시하기
Team_Project/
